# FastAPI
PORT=3007

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672

# Kafka
KAFKA_BROKER=localhost:9092

# MongoDB
MONGO_URI=mongodb://anonygate:anonygate_pass@localhost:27017/DB_AI_Summaries?authSource=admin

# HuggingFace API Token
HF_API_TOKEN=your_huggingface_api_token_here
