# Port
PORT=3008

# MongoDB (DB_Evidence)
MONGO_URI=mongodb://anonygate:anonygate_pass@localhost:27017/DB_Evidence?authSource=admin

# Kafka (on EC2-8)
KAFKA_BROKER=localhost:9092

# JWT Secret (Must match the one in ms-auth to validate Analyst/Admin tokens)
JWT_SECRET="SECRET_SUPER_SAFE_2026"

# Webhook Secret (From MS-06)
WEBHOOK_SECRET=secreto_webhook_ms06

# Configuración S3 (Para pruebas locales necesitarás credenciales de IAM con acceso a S3)
S3_BUCKET_NAME=anonygate-evidence-local
AWS_REGION=us-east-1
# Descomentar si no usas IAM Roles (AWS SSO o default credentials en ~/.aws)
# AWS_ACCESS_KEY_ID=tu_access_key
# AWS_SECRET_ACCESS_KEY=tu_secret_key
# AWS_SESSION_TOKEN=tu_session_token
